@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

:root{
  --font-roboto: 'Roboto', sans-serif;
  --font-fira: 'Fira Code', monospace;
  --terminal-color: #231F1F;
  --circle-red: #FE5F56;
  --circle-yellow: #FFBD2F;
  --circle-green: #28C93F;
  --terminal-text-primary: #0AFF8D;
  --terminal-text-secondary: #FFFFFF;
  --bg-dark: #151515;
  --color-hover: #d61d4b; 
}

.hero{
  font-family: var(--font-roboto);
  /* background-color: yellow; */
  padding: 1.5em;
  height: 200px;
}
.nav{
  padding: 10px;

}
.collection{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.items{
  list-style: none;
  margin: 0 20px;
  font-size: 1.2em;
}
a.nav-link{
  color: #333;
  padding: 5px;
  
}
.nav-link:hover{
  border-radius: 4px;
  animation: hov;
  animation-duration: 2s;
}
@keyframes hov{
  50%{
    background-color: var(--color-hover);
  }
  
}
/* main */

.showcase{
  max-width: 860px;
  margin: 0 auto;
  text-align: center;
  font-family: var(--font-roboto);
  margin-bottom: 40px;
  padding: 20px;
}
.name{
  font-size: 3em;
}
.terminal{
  max-width: 90%;
  height: 300px;
  background-color: var(--terminal-color);
  margin: 20px auto;
  border-radius: 14px;
  padding: 10px;
}

/* btn group */
.btn-group{
  display: flex;
  flex-direction: row;
}
.btn{
  height: 18px;
  width: 18px;
  margin-right: 5px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.red{
  background-color: var(--circle-red);
}
.yellow{
  background-color: var(--circle-yellow);
}
.green{
  background-color: var(--circle-green);
}

.dollar, .pound{
  color: var(--terminal-text-primary);
  font-size: 14px;
  font-family: var(--font-fira);
}
.showHelp{
  color: #d61d4b;
  font-family: var(--font-fira);
  font-size: 14px;
}
input{
  background-color: var(--terminal-color);
  border: none;
  font-family: var(--font-fira);
  font-size: 14px;
  color: var(--terminal-text-secondary);
}
input:focus{
  outline: none;
  cursor: text;
  caret-color: var(--terminal-text-secondary);
}


/* about */

.aboutSection{
  max-width: 80%;
  margin: 0 auto;
  text-align: left;
  font-family: var(--font-roboto);
}
.info{
  font-weight: bold;
}
.info >p{
  margin: 0 auto;
}
.info *>a{
  color: var(--color-hover);
}
.stack-info{
  margin-top: 20px;
  display: block;
  font-weight: bolder;
}







/* footer */
.footer{
 position: relative;
 top: 30px;
}
.end{
  margin: 20px auto;
  text-align: center;
  font-family: var(--font-roboto);
  font-weight: bold;
  font-size: 12px;
}

/* media query for larger screens */
@media only screen and (min-width: 768px){
  li.items{
    font-size: 1.5em;

  }
  .name{
    font-size: 5em;
  }
  .tag{
    font-size: 1.5rem;
  }
  .terminal{
    max-width: 80%;
  }
  .aboutSection{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .info{
    max-width: 50%;
    /* border: 1px solid black; */
    font-weight: bold;
    margin-top: 10px;
  }
  .info *>a{
    color: var(--color-hover);
  }
  .stack-info{
    margin-top: 0px;
    margin-left: 20px;
    
  }
  .stack-info+img{
    margin-left: 20px;
  }
}
